### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [ ]:
ingreso_tienda1 = tienda1['Precio'].sum()
ingreso_tienda2 = tienda2['Precio'].sum()
ingreso_tienda3 = tienda3['Precio'].sum()
ingreso_tienda4 = tienda4['Precio'].sum()

In [ ]:
print(f"El ingreso de la tienda 1 fue de {ingreso_tienda1}")
print(f"El ingreso de la tienda 2 fue de {ingreso_tienda2}")
print(f"El ingreso de la tienda 3 fue de {ingreso_tienda3}")
print(f"El ingreso de la tienda 4 fue de {ingreso_tienda4}")

El ingreso de la tienda 1 fue de 1150880400.0
El ingreso de la tienda 2 fue de 1116343500.0
El ingreso de la tienda 3 fue de 1098019600.0
El ingreso de la tienda 4 fue de 1038375700.0

# 2. Ventas por categoría

In [ ]:
ingresos_por_categoria_tienda1 = tienda1.groupby('Categoría del Producto')['Precio'].sum()
ingresos_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum()
ingresos_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum()
ingresos_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum()

In [ ]:
ingresos_por_categoria_df = pd.DataFrame({
    'Tienda 1': ingresos_por_categoria_tienda1,
    'Tienda 2': ingresos_por_categoria_tienda2,
    'Tienda 3': ingresos_por_categoria_tienda3,
    'Tienda 4': ingresos_por_categoria_tienda4
}).fillna(0)

print('Categoría por Tienda\n', ingresos_por_categoria_df)

Ingresos por Tienda
                             Tienda 1     Tienda 2     Tienda 3     Tienda 4
Categoría del Producto
Artículos para el hogar   12698400.0   14746900.0   15060000.0   15074500.0
Deportes y diversión      39290000.0   34744500.0   35593100.0   33350100.0
Electrodomésticos        363685200.0  348567800.0  329237900.0  283260200.0
Electrónicos             429493500.0  410831100.0  410775800.0  409476100.0
Instrumentos musicales    91299000.0  104990300.0   77380900.0   75102400.0
Juguetes                  17995700.0   15945400.0   19401100.0   20262200.0
Libros                     8784900.0   10091200.0    9498700.0    9321300.0
Muebles                  187633700.0  176426300.0  201072100.0  192528900.0

In [ ]:
categorias_tienda1 = ingresos_por_categoria_tienda1.sort_values(ascending= False)
categorias_tienda2 = ingresos_por_categoria_tienda2.sort_values(ascending= False)
categorias_tienda3 = ingresos_por_categoria_tienda3.sort_values(ascending= False)
categorias_tienda4 = ingresos_por_categoria_tienda4.sort_values(ascending= False)

In [ ]:
categorias_tienda1_df = pd.DataFrame({'Categoria': categorias_tienda1.index, 'Ingresos': categorias_tienda1.values})
categorias_tienda2_df = pd.DataFrame({'Categoria': categorias_tienda2.index, 'Ingresos': categorias_tienda2.values})
categorias_tienda3_df = pd.DataFrame({'Categoria': categorias_tienda3.index, 'Ingresos': categorias_tienda3.values})
categorias_tienda4_df = pd.DataFrame({'Categoria': categorias_tienda4.index, 'Ingresos': categorias_tienda4.values})

In [ ]:
print('Categoría más vendida a la menos vendida en la tienda 1')
print(categorias_tienda1_df)
print('\n')
print('Categoría más vendida a la menos vendida en la tienda 2')
print(categorias_tienda2_df)
print('\n')
print('Categoría más vendida a la menos vendida en la tienda 3')
print(categorias_tienda3_df)
print('\n')
print('Categoría más vendida a la menos vendida en la tienda 4')
print(categorias_tienda4_df)

Categoría más vendida a la menos vendida en la tienda 1
                 Categoria     Ingresos
0             Electrónicos  429493500.0
1        Electrodomésticos  363685200.0
2                  Muebles  187633700.0
3   Instrumentos musicales   91299000.0
4     Deportes y diversión   39290000.0
5                 Juguetes   17995700.0
6  Artículos para el hogar   12698400.0
7                   Libros    8784900.0


Categoría más vendida a la menos vendida en la tienda 2
                 Categoria     Ingresos
0             Electrónicos  410831100.0
1        Electrodomésticos  348567800.0
2                  Muebles  176426300.0
3   Instrumentos musicales  104990300.0
4     Deportes y diversión   34744500.0
5                 Juguetes   15945400.0
6  Artículos para el hogar   14746900.0
7                   Libros   10091200.0


Categoría más vendida a la menos vendida en la tienda 3
                 Categoria     Ingresos
0             Electrónicos  410775800.0
1        Electrodomésticos  329237900.0
2                  Muebles  201072100.0
3   Instrumentos musicales   77380900.0
4     Deportes y diversión   35593100.0
5                 Juguetes   19401100.0
6  Artículos para el hogar   15060000.0
7                   Libros    9498700.0


Categoría más vendida a la menos vendida en la tienda 4
                 Categoria     Ingresos
0             Electrónicos  409476100.0
1        Electrodomésticos  283260200.0
2                  Muebles  192528900.0
3   Instrumentos musicales   75102400.0
4     Deportes y diversión   33350100.0
5                 Juguetes   20262200.0
6  Artículos para el hogar   15074500.0
7                   Libros    9321300.0

# 3. Calificación promedio de la tienda

In [ ]:
calificacion_promedio_tienda1 = tienda1['Calificación'].mean()
calificacion_promedio_tienda2 = tienda2['Calificación'].mean()
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()

In [ ]:
resenia_por_calificacion_tienda_df = pd.DataFrame({
    'Tienda': ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4'],
    'Calificacion': [
        calificacion_promedio_tienda1,
        calificacion_promedio_tienda2,
        calificacion_promedio_tienda3,
        calificacion_promedio_tienda4]
}).round(2)

In [ ]:
print('Calificación Promedio de cada tienda')
print(resenia_por_calificacion_tienda_df.sort_values('Calificacion', ascending= False))

Calificación Promedio de cada tienda
     Tienda  Calificacion
2  Tienda 3          4.05
1  Tienda 2          4.04
3  Tienda 4          4.00
0  Tienda 1          3.98

# 4. Productos más y menos vendidos

In [ ]:
ingreso_por_producto_tienda1 = tienda1.groupby('Producto')['Precio'].sum()
ingreso_por_producto_tienda2 = tienda2.groupby('Producto')['Precio'].sum()
ingreso_por_producto_tienda3 = tienda3.groupby('Producto')['Precio'].sum()
ingreso_por_producto_tienda4 = tienda4.groupby('Producto')['Precio'].sum()

In [ ]:
top_productos_tienda1 = ingreso_por_producto_tienda1.sort_values(ascending= False)
top_productos_tienda2 = ingreso_por_producto_tienda2.sort_values(ascending= False)
top_productos_tienda3 = ingreso_por_producto_tienda3.sort_values(ascending= False)
top_productos_tienda4 = ingreso_por_producto_tienda4.sort_values(ascending= False)

In [ ]:
top_productos_tienda1_df = pd.DataFrame({'Producto': top_productos_tienda1.index, 'Ingresos': top_productos_tienda1.values})
top_productos_tienda2_df = pd.DataFrame({'Producto': top_productos_tienda2.index, 'Ingresos': top_productos_tienda1.values})
top_productos_tienda3_df = pd.DataFrame({'Producto': top_productos_tienda3.index, 'Ingresos': top_productos_tienda1.values})
top_productos_tienda4_df = pd.DataFrame({'Producto': top_productos_tienda4.index, 'Ingresos': top_productos_tienda1.values})

In [ ]:
print('Productos más vendidos a los menos vendidos en la tienda 1')
print(top_productos_tienda1_df)
print('\n')
print('Productos más vendidos a los menos vendidos en la tienda 2')
print(top_productos_tienda2_df)
print('\n')
print('Productos más vendido a los menos vendidos en la tienda 3')
print(top_productos_tienda3_df)
print('\n')
print('Productos más vendidos a los menos vendidos en la tienda 4')
print(top_productos_tienda4_df)

Productos más vendidos a los menos vendidos en la tienda 1
                       Producto     Ingresos
0                 TV LED UHD 4K  142150200.0
1                  Refrigerador  112143300.0
2                     Iphone 15   97902200.0
3                      Smart TV   67452100.0
4              Lavadora de ropa   65783600.0
5                  Lavavajillas   62054900.0
6              Secadora de ropa   59062400.0
7                   Tablet ABXY   47639800.0
8                       Batería   37693900.0
9            Guitarra eléctrica   37292200.0
10                   Microondas   34761500.0
11                 Celular ABXY   32651000.0
12              Sofá reclinable   31379400.0
13                    Cama king   31176600.0
14                       Estufa   29879500.0
15                      Armario   29462300.0
16                    Bicicleta   27444600.0
17                     Cama box   22094700.0
18             Silla de oficina   17667300.0
19                    Impresora   16413300.0
20                Mesa de noche   15679600.0
21            Guitarra acústica   14074000.0
22                Kit de bancas   12141200.0
23              Mesa de comedor   10531500.0
24                       Sillón    9879200.0
25            Asistente virtual    8058000.0
26               Mesa de centro    7621900.0
27                Juego de mesa    7614500.0
28                   Smartwatch    7452400.0
29                 Set de ollas    6307700.0
30                  Auriculares    5043700.0
31    Auriculares con micrófono    4730800.0
32                      Mochila    3867200.0
33    Carrito de control remoto    3761800.0
34          Modelado predictivo    3172500.0
35          Balón de baloncesto    2749800.0
36              Olla de presión    2629300.0
37                 Vaso térmico    2463400.0
38                   Cubertería    2402300.0
39                    Pandereta    2238900.0
40            Balón de voleibol    2112200.0
41    Iniciando en programación    2093100.0
42  Ciencia de datos con Python    2063600.0
43                  Muñeca bebé    1937300.0
44      Bloques de construcción    1865700.0
45      Dashboards con Power BI    1455700.0
46            Ajedrez de madera    1430600.0
47                 Set de vasos    1359100.0
48              Cubo mágico 8x8     696900.0
49               Dinosaurio Rex     688900.0
50           Cuerda para saltar     652800.0


Productos más vendidos a los menos vendidos en la tienda 2
                       Producto     Ingresos
0                     Iphone 15  142150200.0
1                 TV LED UHD 4K  112143300.0
2                  Refrigerador   97902200.0
3              Lavadora de ropa   67452100.0
4                      Smart TV   65783600.0
5              Secadora de ropa   62054900.0
6                  Lavavajillas   59062400.0
7                   Tablet ABXY   47639800.0
8                       Batería   37693900.0
9                  Celular ABXY   37292200.0
10           Guitarra eléctrica   34761500.0
11                   Microondas   32651000.0
12                       Estufa   31379400.0
13              Sofá reclinable   31176600.0
14                    Cama king   29879500.0
15                      Armario   29462300.0
16                     Cama box   27444600.0
17                    Bicicleta   22094700.0
18            Guitarra acústica   17667300.0
19             Silla de oficina   16413300.0
20                Kit de bancas   15679600.0
21                Mesa de noche   14074000.0
22                    Impresora   12141200.0
23              Mesa de comedor   10531500.0
24                       Sillón    9879200.0
25                 Set de ollas    8058000.0
26            Asistente virtual    7621900.0
27               Mesa de centro    7614500.0
28                   Smartwatch    7452400.0
29                Juego de mesa    6307700.0
30    Auriculares con micrófono    5043700.0
31                      Mochila    4730800.0
32                    Pandereta    3867200.0
33                  Auriculares    3761800.0
34              Olla de presión    3172500.0
35    Carrito de control remoto    2749800.0
36    Iniciando en programación    2629300.0
37          Modelado predictivo    2463400.0
38  Ciencia de datos con Python    2402300.0
39                  Muñeca bebé    2238900.0
40            Balón de voleibol    2112200.0
41                 Vaso térmico    2093100.0
42          Balón de baloncesto    2063600.0
43      Bloques de construcción    1937300.0
44                   Cubertería    1865700.0
45      Dashboards con Power BI    1455700.0
46                 Set de vasos    1430600.0
47            Ajedrez de madera    1359100.0
48           Cuerda para saltar     696900.0
49               Dinosaurio Rex     688900.0
50              Cubo mágico 8x8     652800.0


Productos más vendido a los menos vendidos en la tienda 3
                       Producto     Ingresos
0                  Refrigerador  142150200.0
1                 TV LED UHD 4K  112143300.0
2                     Iphone 15   97902200.0
3                      Smart TV   67452100.0
4                  Lavavajillas   65783600.0
5                   Tablet ABXY   62054900.0
6              Lavadora de ropa   59062400.0
7              Secadora de ropa   47639800.0
8                  Celular ABXY   37693900.0
9                     Cama king   37292200.0
10                       Estufa   34761500.0
11              Sofá reclinable   32651000.0
12           Guitarra eléctrica   31379400.0
13                      Batería   31176600.0
14                     Cama box   29879500.0
15                    Bicicleta   29462300.0
16                      Armario   27444600.0
17                   Microondas   22094700.0
18             Silla de oficina   17667300.0
19                Kit de bancas   16413300.0
20                Mesa de noche   15679600.0
21            Guitarra acústica   14074000.0
22              Mesa de comedor   12141200.0
23                    Impresora   10531500.0
24                       Sillón    9879200.0
25                Juego de mesa    8058000.0
26                 Set de ollas    7621900.0
27                   Smartwatch    7614500.0
28            Asistente virtual    7452400.0
29               Mesa de centro    6307700.0
30    Auriculares con micrófono    5043700.0
31                  Auriculares    4730800.0
32    Carrito de control remoto    3867200.0
33                      Mochila    3761800.0
34              Olla de presión    3172500.0
35          Modelado predictivo    2749800.0
36                    Pandereta    2629300.0
37          Balón de baloncesto    2463400.0
38  Ciencia de datos con Python    2402300.0
39            Balón de voleibol    2238900.0
40    Iniciando en programación    2112200.0
41                  Muñeca bebé    2093100.0
42                   Cubertería    2063600.0
43                 Vaso térmico    1937300.0
44      Dashboards con Power BI    1865700.0
45            Ajedrez de madera    1455700.0
46      Bloques de construcción    1430600.0
47                 Set de vasos    1359100.0
48           Cuerda para saltar     696900.0
49               Dinosaurio Rex     688900.0
50              Cubo mágico 8x8     652800.0


Productos más vendidos a los menos vendidos en la tienda 4
                       Producto     Ingresos
0                     Iphone 15  142150200.0
1                 TV LED UHD 4K  112143300.0
2                      Smart TV   97902200.0
3                  Refrigerador   67452100.0
4                   Tablet ABXY   65783600.0
5                  Lavavajillas   62054900.0
6              Lavadora de ropa   59062400.0
7              Secadora de ropa   47639800.0
8                  Celular ABXY   37693900.0
9                     Cama king   37292200.0
10                      Batería   34761500.0
11                     Cama box   32651000.0
12                       Estufa   31379400.0
13              Sofá reclinable   31176600.0
14           Guitarra eléctrica   29879500.0
15                   Microondas   29462300.0
16                    Bicicleta   27444600.0
17                      Armario   22094700.0
18                    Impresora   17667300.0
19                Mesa de noche   16413300.0
20             Silla de oficina   15679600.0
21              Mesa de comedor   14074000.0
22                Kit de bancas   12141200.0
23            Guitarra acústica   10531500.0
24                       Sillón    9879200.0
25            Asistente virtual    8058000.0
26                Juego de mesa    7621900.0
27                 Set de ollas    7614500.0
28               Mesa de centro    7452400.0
29                   Smartwatch    6307700.0
30    Auriculares con micrófono    5043700.0
31                      Mochila    4730800.0
32    Carrito de control remoto    3867200.0
33                  Auriculares    3761800.0
34                    Pandereta    3172500.0
35              Olla de presión    2749800.0
36          Modelado predictivo    2629300.0
37                   Cubertería    2463400.0
38          Balón de baloncesto    2402300.0
39            Balón de voleibol    2238900.0
40                  Muñeca bebé    2112200.0
41                 Vaso térmico    2093100.0
42    Iniciando en programación    2063600.0
43  Ciencia de datos con Python    1937300.0
44      Dashboards con Power BI    1865700.0
45      Bloques de construcción    1455700.0
46                 Set de vasos    1430600.0
47            Ajedrez de madera    1359100.0
48               Dinosaurio Rex     696900.0
49              Cubo mágico 8x8     688900.0
50           Cuerda para saltar     652800.0

# 5. Envío promedio por tienda

In [ ]:
envio_promedio_tienda1 = tienda1['Costo de envío'].mean()
envio_promedio_tienda2 = tienda2['Costo de envío'].mean()
envio_promedio_tienda3 = tienda3['Costo de envío'].mean()
envio_promedio_tienda4 = tienda4['Costo de envío'].mean()

In [ ]:
envio_promedio_tiensa_df = pd.DataFrame({
    'Tienda': ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4'],
    'Costo de Envío Promedio': [
        envio_promedio_tienda1,
        envio_promedio_tienda2,
        envio_promedio_tienda3,
        envio_promedio_tienda4,]
}).round(2)

In [ ]:
print('Costo de envío promedio por tienda')
print(envio_promedio_tiensa_df)

Costo de envío promedio por tienda
     Tienda  Costo de Envío Promedio
0  Tienda 1                 26018.61
1  Tienda 2                 25216.24
2  Tienda 3                 24805.68
3  Tienda 4                 23459.46